@import url(./components/icon.css);
@import url(./components/tool-tip.css);
@import url(./responsive/index.css);
@font-face {
  font-family: GoogleSans-Regular;
  src: url(../fonts/notosans-regular.2cb88a13.woff2);
}
@font-face {
  font-family: GoogleSans-Bold;
  src: url(../fonts/notosans-bold.3ede5aff.woff2);
}
@font-face {
  font-family: GoogleSans-Italic;
  src: url(../fonts/notosans-italic.1c1aaac9.woff2);
}
@font-face {
  font-family: GoogleSans-Semibold;
  src: url(../fonts/notosans-semibold.df3e6dc4.woff2);
}
:root {
  --bgr-header : #aab6d0;
  --height-header :120px;
  --bgr-menuitem: #f3f4f6;
  --paddingtop-content: 30px;
  --width-popup:900px;
  --fonsize-backicon: 53px;
  --color-hoverbackicon: #5a6b92;
  --height-default: 34px;
  --btn-active: #484883;
  --btn-primary: #5d5ba4;
  --height-deleteall:40px;
  --margin-deleteall:50px;
  --size-border:1px;
  --fontsize-senticon: 50px;
  --padding-content-header: 10px
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: GoogleSans-Regular;
  font-size: 13px;
  width: 100%;
  /* position: relative; */
}
a,p{
  text-decoration: none;
}
li {
  list-style: none;
}
img {
  width: 100%;
}
.flex{
  display: flex;
}
.flex-bs100{
  flex-basis:100% ;
}
.grid-2-12{
  display: grid;
  grid-template-columns: 50% 50%;
  grid-column-gap: 12px;
}
.flex-jc{
  display: flex;
  justify-content: space-between;
}
.text-center{
  text-align: center;
}
.item-center{
  align-items:center;
}
.bd-radius15{
  border-radius: 15%;
}
.bd-radius20px{
  border-radius: 20px;
}
.w-100{
  width: 100%;
}
.w-50{
  width: 50%;
}
.w-48{
  width: 48%;
}
.mt-4{
  margin-top: 4px;
}
.mt-8{
  margin-top: 8px;
}
.mt-10{
  margin-top: 10px;
}
.mt-16{
  margin-top: 16px;
}
.mt-32{
  margin-top: 32px;
}
.mb-12{
  margin-bottom: 12px;
}
.mb-25{
  margin-bottom: 25px;
}
.mb-30{
  margin-bottom: 30px;
}
.ml-15{
  margin-left: 15px;
}
.mr-10{
  margin-right: 10px;
}
.mr-20{
  margin-right: 10px;
}
.mr-50{
  margin-right: 50px;
}
.pt-10{
  padding-top: 10px;
}
.pt-20{
  padding-top: 10px;
}
.pt-30{
  padding-top: 10px;
}
.pt-40{
  padding-top: 10px;
}
.pr-10{
  padding-right: 10px;
}
.pr-20{
  padding-right: 20px;
}
.pr-30{
  padding-right: 30px;
}
.pr-40{
  padding-right: 40px;
}
.h-30{
  height: 30px;
}
.hidden {
  display: none;
}
.fl-block{
  display: block;

}
.icon-color{
  color: #0075c0;
}
.text-bold{
  font-weight: bold;
}
.transition-1{
  transition: all 1;
}
.jtf-between{
  justify-content:space-between;
}
.cl-white{
  color: white;
}
.hidden{
  display: none;
}
.sent-icon{
  font-size: var(--fontsize-senticon);
  color: var(--bgr-header);
  cursor: pointer;
}
.sent-icon:hover{
  color: var(--color-hoverbackicon);
}
