.header{
  background-color: var(--bgr-header);
  height: var(--height-header);
  padding: 20px 100px;
  width: 100%;
}
.header-name{
  font-size: 300%;
}
.header-title{
  font-size: 150%;
}
.avt img{
  width: 50px;  
  height: auto; 
}
.avt-name,.avt-address{
  font-size: 120%;
}